.idea/
jieba.cache
*.log
.nfs*
slurm-*.out
results
**/*.pyc
**/stderr*
**/stdout*
.vscode/
**/wandb
mwerSegmenter/*
slurm*
profile/*
debug*/
debug.ipynb
latest-truthy.nt.bz2
retriever/data
*.out
*.err
*.json
*.index
retriever/gigaspeech/data/
*.pt